<!-- templates/portfolio/contact.html -->
{% extends 'portfolio/base.html' %}

{% block content %}
<h2 class="mb-4">📬 Contact Me</h2>

<div class="animate-fadein">
  <p>You can reach out to me through the platforms below:</p>
  <ul class="list-unstyled">
    <li><strong>Email:</strong> <a href="mailto:bechir.mejri@esprit.tn">bechir.mejri@esprit.tn</a></li>
    <li><strong>GitHub1:</strong> <a href="https://github.com/bechir2003" target="_blank">github.com/bechir2003</a></li>
    <li><strong>GitHub2:</strong> <a href="https://github.com/bmejri988-spec" target="_blank">github.com/bmejri988-spec</a></li>
    <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/bechiirmejrii/" target="_blank">linkedin.com/in/bechiirmejrii</a></li>
  </ul>
</div>
<pre>


  




</pre>
{% endblock %}
