<!-- templates/portfolio/home.html -->
 {% extends 'portfolio/base.html' %}

{% load static %}


{% block content %}
<div class="text-center">
  <h1 class="display-4 mb-3">Hi, I'm Bechir Meiri 👋</h1>
  <p class="lead">AI & Software Engineer – Turning ideas into code.</p>
  <p class="lead mt-3">
  Welcome to my personal portfolio! I’m Bechir Meiri, an AI and software engineer passionate about transforming ideas into innovative and efficient software solutions.  
  Explore my projects to see how I combine cutting-edge AI techniques with solid software engineering principles to solve real-world problems.  
  Whether you’re here to collaborate, learn, or just say hello, I’m glad you stopped by.
</p>
<p>
  <strong>Areas of Expertise:</strong>
  <ul class="list-inline">
    <li class="list-inline-item">Artificial Intelligence & Machine Learning</li>
    <li class="list-inline-item">Backend & Web Development</li>
    <li class="list-inline-item">Clean, maintainable code</li>
    <li class="list-inline-item">Problem-solving with logic and creativity</li>
  </ul>
  

</p>

  <a href="/projects/" class="btn btn-primary mt-4">View My Projects</a>
</div>
{% endblock %}
